<p id="notice"><%= notice %></p>
<h1>Notice Board </h1>
<p>
  <strong>Titlt:</strong>
  <%= @notice.titlt %>
</p>

<p>
  <strong>Body:</strong>
  <%= @notice.body %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
