<%= form_for(@student, :html => { :multipart => true }) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stud_name %><br>
    <%= f.text_field :stud_name %>
  </div>
  <div class="field">
    <%= f.label :stud_dob %><br>
    <%= f.date_select :stud_dob %>
  </div>
  <div class="field">
         <%= f.radio_button :gender, true %> <%= f.label :Gender, "Female" %>
          <%= f.radio_button :gender, false %> <%= f.label :Gender, "Male" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :stud_image %><br>
    <%= f.file_field :stud_image %>
  </div>
    <div class="field">
    <%= label_tag :class_name %><br>
    <%= text_field(:class_group,  :class_name) %>
  </div>
  <div class="field">
    <%= label_tag :year %><br>
    <%= number_field(:class_group,  :year) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
