<p id="notice"><%= notice %></p>

<p>
  <strong>Stud name:</strong>
  <%= @student.stud_name %>
</p>

<p>
  <strong>Stud dob:</strong>
  <%= @student.stud_dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Stud image:</strong>
  <%= image_tag @student.stud_image_url(:thumb) %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
