<p id="notice"><%= notice %></p>

<h1>Listing Timetables</h1>

<table class="table">
  <thead>
    <tr>
      <th>Class num</th>
      <th>Day ofweek</th>
      <th>Subject 1</th>
      <th>Subject 2</th>
      <th>Subject 3</th>
      <th>Subject 4</th>
      <th>Subject 5</th>
      <th>Subject 6</th>
      <th>Subject 7</th>
      <th>Subject 8</th>
      <th>Subject 9</th>
      <th>Subject 10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        
        <td><%= timetable.class_num %></td>
        <td><%= timetable.day_ofweek %></td>
        <td><%= timetable.subject_1 %></td>
        <td><%= timetable.subject_2 %></td>
        <td><%= timetable.subject_3 %></td>
        <td><%= timetable.subject_4 %></td>
        <td><%= timetable.subject_5 %></td>
        <td><%= timetable.subject_6 %></td>
        <td><%= timetable.subject_7 %></td>
        <td><%= timetable.subject_8 %></td>
        <td><%= timetable.subject_9 %></td>
        <td><%= timetable.subject_10 %></td>
        <td><%= link_to 'Show', timetable %></td>
        <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
        <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
