<p id="notice"><%= notice %></p>

<p>
  <strong>Class num:</strong>
  <%= @timetable.class_num %>
</p>

<p>
  <strong>Day ofweek:</strong>
  <%= @timetable.day_ofweek %>
</p>

<p>
  <strong>Subject 1:</strong>
  <%= @timetable.subject_1 %>
</p>

<p>
  <strong>Subject 2:</strong>
  <%= @timetable.subject_2 %>
</p>

<p>
  <strong>Subject 3:</strong>
  <%= @timetable.subject_3 %>
</p>

<p>
  <strong>Subject 4:</strong>
  <%= @timetable.subject_4 %>
</p>

<p>
  <strong>Subject 5:</strong>
  <%= @timetable.subject_5 %>
</p>

<p>
  <strong>Subject 6:</strong>
  <%= @timetable.subject_6 %>
</p>

<p>
  <strong>Subject 7:</strong>
  <%= @timetable.subject_7 %>
</p>

<p>
  <strong>Subject 8:</strong>
  <%= @timetable.subject_8 %>
</p>

<p>
  <strong>Subject 9:</strong>
  <%= @timetable.subject_9 %>
</p>

<p>
  <strong>Subject 10:</strong>
  <%= @timetable.subject_10 %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
