<p id="notice"><%= notice %></p>

<p>
  <strong>Name of student:</strong>
  <%= @adminform.Name_of_student %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @adminform.Gender %>
</p>

<p>
  <strong>Class:</strong>
  <%= @adminform.Class %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @adminform.Date_of_birth %>
</p>

<p>
  <strong>Category:</strong>
  <%= @adminform.Category %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @adminform.Nationality %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @adminform.Father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @adminform.Mother_name %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @adminform.Address_line_1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @adminform.Address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @adminform.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @adminform.State %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @adminform.Pin_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @adminform.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @adminform.Phone %>
</p>

<p>
  <strong>Father occupation :</strong>
  <%= @adminform.Father_occupation %>
</p>

<p>
  <strong>Highest degree 1:</strong>
  <%= @adminform.Highest_degree_1 %>
</p>

<p>
  <strong>Annual income 1:</strong>
  <%= @adminform.Annual_income_1 %>
</p>

<p>
  <strong>Mother occupation:</strong>
  <%= @adminform.Mother_occupation %>
</p>

<p>
  <strong>Highest degree 2:</strong>
  <%= @adminform.Highest_degree_2 %>
</p>

<p>
  <strong>Annual income 2:</strong>
  <%= @adminform.Annual_income_2 %>
</p>

<%= link_to 'Edit', edit_adminform_path(@adminform) %> |
<%= link_to 'Back', adminforms_path %>
